body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

code {
  padding: 1em !important;
}

main,
footer {
  box-sizing: border-box;
  width: 660px;
  padding: 40px;
}

main {
  border: 1px solid black;
  border-radius: 8px;
}

footer {
  padding-top: 20px;
}

footer ul {
  margin: 0;
}

ul {
  padding-left: 1em;
}

@media (max-width: 660px) {
  main,
  footer {
    width: 100%;
    padding: 20px;
  }

  main {
    border: none;
    border-radius: 0;
  }
}
