body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

code {
  padding: 1em 0 !important;
}

main {
  box-sizing: border-box;
  width: 660px;
  margin: 80px auto 40px;
}

footer {
  padding-top: 20px;
}

footer ul {
  margin: 0;
}

ul {
  padding-left: 1em;
}

@media (max-width: 660px) {
  main {
    width: 100%;
    margin: 0;
    padding: 40px 20px;
  }

  code {
    font-size: 14px !important;
  }
}
